html{
  height: 100%;
}

body{
  width: 60em;
  height: 100%;
  margin: 0 auto;

	display:grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "header header"
						"description  user"
						"footer  footer";
}

body>header{
  grid-area: header;
}

#description{
  grid-area: description;
}

#user{
  grid-area: user;
  margin: 5em 5em 9em 2em;
}


footer{
  grid-area: footer;
}
