body {
  width: 60em;
  margin: 0 auto;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
}

#logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20em;
  height: 20em;
}

#register {
  display: none;
}

#user input {
  text-decoration: none;
  background-color: transparent;
  border: solid;
  border-color: black;
  padding: 1em;
  width: 7.5em;
  margin: 0;
}

#user form input {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 15em;
  margin: 0;
}

footer {
  background-color: black;
  color: white;
  padding: 1em;
}
