body {
  width: 60em;
  margin: 0 auto;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body > header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

#logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 1em 0;
}

#logo a {
  text-decoration: none;
  color: black;
}


#logo h1 {
  font-size: 5em;
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  flex-grow: 1;
}

#logo img {
  width: 100px;
}

#add_project {
  display: none;
}

#user  {
  padding: 1em 1em 1em 1em;
  background-color: Black;
  justify-content: space-between;
  text-align:center;
}

#user form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

#user input {
  padding: 0.1em;
  margin-bottom: 1em;
}


input:focus{
   outline: none;
}

#user input[type="button"]{
  text-decoration: none;
  background-color: transparent;
  border: solid;
  color:white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 100%;
  border-color: black;
}

#user input[type="button"]:hover{
  font-weight: bold;
}


#user input[type="submit"]{
  background-color: GhostWhite  ;
  border: solid;
  border-color: GhostWhite  ;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 100%;
  font-weight: bold;
  width: 5em;
  align-items: flex-end;
}


#user input[type="submit"]:hover{
  font-weight:lighter;
}


#register {
  display: none;
}


footer {
  background-color: grey;
  color: white;
  padding: 1em;
}


/* user.php */
.user_form {
  display: none;
}

#plus_todo, #plus_task {
  display: none;
}

#current_user:before {
  content: attr(data-username);
}

.project:before {
  content: attr(data-project-title);
}

.todo:before {
  content: attr(data-todo-title);
}

.task:before {
  content: attr(data-task);
}

.user_form {
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: rgb(128,128,128);
  opacity: 0.5;
}

.user_form input {
  z-index: 2;
  background-color: white;
  opacity: 1;
}
