body {
  width: 60em;
  margin: 0 auto;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body > header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

#logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 1em 0;
}

#logo a {
  text-decoration: none;
  color: black;
}


#logo h1 {
  font-size: 5em;
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  flex-grow: 1;
}

#logo img {
  width: 100px;
}

#add_project {
  display: none;
}

#user  {
  padding: 1em 1em 1em 1em;
  background-color: Black;
  justify-content: space-between;
  text-align:center;
}

#user form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

#user input {
  padding: 0.1em;
  margin-bottom: 1em;
}


input:focus{
   outline: none;
}

#user input[type="button"]{
  text-decoration: none;
  background-color: transparent;
  border: solid;
  color:white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 100%;
  border-color: black;
}

#user input[type="button"]:hover{
  font-weight: bold;
}


#user input[type="submit"]{
  background-color: GhostWhite  ;
  border: solid;
  border-color: GhostWhite  ;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 100%;
  font-weight: bold;
  width: 5em;
  align-items: flex-end;
}


#user input[type="submit"]:hover{
  font-weight:lighter;
}


#register {
  display: none;
}


footer {
  background-color: black;
  color: white;
  padding: 1em;
}


/* user.php */

.user_header a {
  text-decoration: none;
  color:white;
}


.user_header a:hover{
  font-weight: bold;
}

.user_header{
  background-color: black;
  padding: 1em 1em 1em 1em;
}

.project_title:hover{
  font-weight: bold;
}

#project_label{
  font-weight: bold;
  padding-left: 1em;

}

#project_section{
  padding: 1em 1em 1em 1em;
}

#plus_todo, #plus_task, #plus_todo_label, #plus_task_label, #todo_label {
  display: none;
}

#todo_list, #task_list {
  display: none;
}

.user_form {
  display: none;
}

#create_project_form{
  display: none;
}

#current_user:before {
  content: attr(data-username);
}

/*
.user_form {
  position: absolute;
  z-index: 1;
  right: 100px;
  -left: 1px;
  top: 200px;
  --bottom: 200px;
  height:25%;
  background-color: black;
  opacity: 1;
  display: flex;
  text-align:center;
  flex-direction: column;
  justify-content: space-between;
}*/


#create_project_form{
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0px;
  top: 0;
  bottom: 0px;
  /*  Mudar para posição relativa e layout*/
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  opacity: 0.3;
  padding: 20em 30em 20em 30em;
  text-align: center;
}

#add_box{

  background-color: black;
}

#create_project_form label{
  margin-bottom: 1em;
}

#create_project_form input{
  margin-bottom: 1em;
}

.user_form input {
  font-family: 'Barlow Semi Condensed', sans-serif;
  z-index: 2;
  background-color: white;
  opacity: 1;
}

#new_project_label{
  color:black;
  font-weight: bold;
}

input[type="submit"]{
  background-color: GhostWhite  ;
  border: solid;
  border-color: GhostWhite  ;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 100%;
  font-weight: bold;
  width: 10em;
  align-items: flex-end;
}


#todo_section{
  padding: 1em 1em 1em 2em;

}

#todo_list{
  flex-direction: column;
  justify-content: space-between;
}

#create_todo_form{
  position: absolute;
  z-index: 1;
  right: 300px;
  left: 300px;
  top: 200px;
  bottom: 300px;
  /*  Mudar para posição relativa e layout*/
  flex-direction: column;
  justify-content: space-between;
  background-color: grey;
  padding: 1em 20em 1em 20em;
  text-align: center;
}

#create_todo_color{
  background-color: transparent;
  border-color:grey;
}

#add_todo{
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}

.todo:hover{
  font-weight: bold;
}

#create_task_form{
  position: absolute;
  z-index: 1;
  right: 300px;
  left: 300px;
  top: 200px;
  bottom: 300px;
  /*  Mudar para posição relativa e layout*/
  flex-direction: column;
  justify-content: space-between;
  background-color: grey;
  padding: 1em 20em 1em 20em;
  text-align: center;
}

#add_task{
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}
